// .gitnignore
# next.js build output
.next
# Dependency directories
node_modules/
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# Config
config/development.json
app.yaml
dispatch.yaml
# Assets
public/images/background-light.jpg
public/images/background-dark.jpg