.container {
  display: grid;
  grid-template-columns: 1fr;
  border-top: 2px solid var(--s8);
  border-left: 2px solid var(--s8);
  border-right: 2px solid var(--s8);
}

.item {
  grid-row: span 1;
  grid-column: span 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--b1);
  border-bottom: 2px solid var(--s8);
  padding: 10px;
  padding-bottom: 20px;
}
.item:hover .adminOptions {
  opacity: 1;
}

.adminOptions {
  opacity: 0;
  margin-left: auto;
  flex: 5;
  order: 1;
}

.title {
  flex: 10;
  order: 2;
  line-height: 20px;
}

.date {
  flex: 10;
  order: 3;
  width: 100%;
  margin-bottom: 15px;
}

.mediaContainer {
  order: 4;
  flex: 65;
  height: 100%;
  width: 100%;
  max-width: 1200px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.mediaContainer iframe {
  max-width: 100%;
  max-height: 100%;
}

.descriptionContainer {
  flex: 15;
  order: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.description {
  word-break: normal;
  overflow-wrap: normal;
  hyphens: auto;
  text-align: center;
  word-spacing: normal;
}

.links {
  flex: 10;
  order: 6;
  display: flex;
  justify-content: center;
}

.tags {
  flex: 15;
  order: 7;
}

.postButton {
  margin: 4px;
}

.containerFitImage {
  max-width: 100%;
  max-height: 100%;
}

.previewImage:hover .containerFitImage,
.previewImage:focus .containerFitImage {
  transform: scale(1.05);
}

.paginationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
