@font-face {
  font-family: "SourceSansPro";
  src: url("/fonts/SourceSansPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SourceSansPro";
  src: url("/fonts/SourceSansPro-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "SourceSansPro";
  src: url("/fonts/SourceSansPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "SourceSansPro";
  src: url("/fonts/SourceSansPro-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "SourceSansPro";
  src: url("/fonts/SourceSansPro-Black.ttf") format("truetype");
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: "SourceSansPro";
  src: url("/fonts/SourceSansPro-BlackItalic.ttf") format("truetype");
  font-weight: bolder;
  font-style: italic;
}

html,
body {
  font-family: "SourceSansPro";
  padding: 0px;
  margin: 0px;
}

h1 {
  font-weight: bold;
}

p {
  font-weight: normal;
}

.headerButton {
  height: 100%;
}

.mainContentTitle {
  text-align: center;
  margin-top: 0px;
  margin-left: 10px;
  margin-right: 10px;
}

.centerImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.textButton {
  width: 100%;
  height: 40px;
  text-align: left;
  cursor: pointer;
  font-size: large;
  border: none;
  background: none;
}

.textButton:hover {
  color: var(--s5);
}

.textButton:active {
  color: var(--s6);
}

.textButton:focus {
  outline: 0;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 15px;
}
