html,
body {
  padding: 0px;
  margin: 0px;
}

.headerButton {
  height: 100%;
}

.mainContentTitle {
  text-align: center;
  margin-top: 0px;
  margin-left: 10px;
  margin-right: 10px;
}

.centerImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.textButton {
  width: 100%;
  height: 40px;
  text-align: left;
  cursor: pointer;
  font-size: large;
  border: none;
  background: none;
}

.textButton:hover {
  color: orangered;
}

.namePlateContainer {
  background-color: magenta;
  border-color: white;
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.namePlateButton {
  border-width: 4px;
  border-style: solid;

  background-color: transparent;
  font-size: 200%;
  width: 300px;
  height: 80px;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 15px;
}
