@font-face {
  font-family: "SourceSansPro";
  src: url("/static/fonts/SourceSansPro-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("/static/fonts/SourceSansPro-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("/static/fonts/SourceSansPro-Black.ttf");
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("/static/fonts/SourceSansPro-BlackItalic.ttf");
  font-weight: bolder;
  font-style: italic;
}

@font-face {
  font-family: "Merriweather";
  src: url("/static/fonts/Merriweather-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather";
  src: url("/static/fonts/Merriweather-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Merriweather";
  src: url("/static/fonts/Merriweather-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather";
  src: url("/static/fonts/Merriweather-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

html,
body {
  font-family: "Merriweather";
  padding: 0px;
  margin: 0px;
  line-height: 2.375;
  font-size: 1rem;
}

@media screen and (max-width: 1680px) {
  html {
    font-size: 14pt;
  }
}

@media screen and (max-width: 1280px) {
  html {
    font-size: 12pt;
  }
}

@media screen and (max-width: 360px) {
  html {
    font-size: 10pt;
  }
}

h1 {
  font-family: SourceSansPro !important;
  font-weight: bold;
}

p {
  font-weight: normal;
  font-size: 1em;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 15px;
}

.headerButton {
  height: 100%;
}

.mainContentTitle {
  text-align: center;
  margin-top: 0px;
  margin-left: 10px;
  margin-right: 10px;
}

.centerImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.textButton {
  width: 100%;
  height: 40px;
  text-align: left;
  cursor: pointer;
  font-size: medium;
  font-weight: bold;
  border: none;
  background: none;
}

.textButton:hover {
  color: var(--s5);
}

.textButton:active {
  color: var(--s6);
}

.textButton:focus {
  outline: 0;
}

.standardPadding {
  padding-left: 3.5vw;
  padding-right: 3.5vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.form-control {
  font-size: 14pt;
  height: 45px;
  padding: 4px;
  padding-left: 15px;
  border-width: 2px;
  border-style: solid;
  border-color: var(--s8);
  width: 95%;
}

.form-control:focus {
  border-color: var(--s5);
  outline: 0px;

  -moz-transition: border-color 0.2s ease-in-out;
  -o-transition: border-color 0.2s ease-in-out;
  -webkit-transition: border-color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out;
}

.form-control:active {
  border-color: var(--s5);
  outline: 0px;
}

.form-text-area {
  padding: 15px;
  height: 225px;
}

.form-label {
  font-size: 13pt;
  font-family: "SourceSansPro";
  font-weight: bold;
}

.form-label-error {
  font-size: 10pt;
  color: var(--s9);
  font-family: "SourceSansPro";
  font-weight: bold;
}
