.container {
  display: none;
  z-index: 100000;
  align-items: center;
  left: 0;
  top: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
}

.containerVisible {
  display: flex;
  flex-flow: column;
}

.imageContainer {
  display: flex;
  flex-basis: auto;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  flex: 1;
  margin: auto;
  max-height: 90%;
  min-height: 30%;
}

.image {
  pointer-events: auto;
  object-fit: contain;
  max-height: 94%;
  max-width: 94%;
  pointer-events: all;
}

.metadataContainer {
  margin-top: auto;
  flex: 0 0 auto;
  width: 100%;
}

.metadataTags {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 10000001;
  pointer-events: all;
  position: absolute;
  left: 10px;
  top: 10px;
}
