.container {
  display: none;
  z-index: 100000;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
}

.containerVisible {
  display: flex;
  flex-flow: column;
  background-color: orange;
}

.imageContainer {
  display: flex;
  flex-basis: auto;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  background-color: green;
  flex: 1;
}

.image {
  pointer-events: auto;
  object-fit: contain;
  max-width: 90%;
  max-height: 90%;
  pointer-events: all;
}

.metadataContainer {
  background-color: purple;
  margin-top: auto;
  flex: 0 0 auto;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 10000001;
  pointer-events: all;
  position: absolute;
  left: 10px;
  top: 10px;
}
