@media screen and (min-width: 875px) {
  .header {
    display: flex;
    clear: both;
    align-items: center;
    justify-content: space-between;
    background-color: var(--s4);
    height: 70px;
    width: 100%;
  }
}

@media screen and (min-width: 0px) and (max-width: 874px) {
  .header {
    display: none !important;
  }
}

.leftContent {
  height: 100%;
  display: flex;
}

.rightContent {
  height: 100%;
  justify-content: right;
  display: flex;
  align-items: center;
  padding-left: 0px;
  margin-left: 0px;
}
