.containerStyle {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.layoutStyle {
  background-color: transparent;
  color: var(--f1);
  width: 100%;
  max-width: 2000px;
}

@media screen and (min-width: 0px) and (max-width: 600px) {
  .layoutStyle {
    padding-top: 10vmin;
    padding-bottom: 10vmin;
    padding-left: 0vw;
    padding-right: 0vw;
  }
}

@media screen and (min-width: 600px) and (max-width: 950px) {
  .layoutStyle {
    padding-top: 10vmin;
    padding-bottom: 10vmin;
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

@media screen and (min-width: 950px) {
  .layoutStyle {
    padding-top: 10vmin;
    padding-bottom: 10vmin;
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

.background {
  transition: background-image 0.25s linear;
  background-position: center 0;
  position: fixed;
  background-size: cover;
  z-index: -999999;
  width: 100%;
  height: 100%;
}
