.container {
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(400px, auto);
  grid-auto-flow: dense;
  overflow: hidden;
  border-top: 2px solid var(--s8);
  border-left: 2px solid var(--s8);
}
@media screen and (min-width: 550px) {
  .container {
    grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
  }
}

.item {
  background-color: var(--b1);
  grid-row: span 1;
  grid-column: span 1;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 14px;
}

.container > .item {
  border-bottom: 2px solid var(--s8);
  border-right: 2px solid var(--s8);
}

.item:hover .adminOptions {
  opacity: 1;
}

.adminOptions {
  opacity: 0;
  margin-left: auto;
  flex: 5;
  order: 1;
}

.previewTitle {
  flex: 10;
  order: 2;
}

.previewDate {
  flex: 10;
  order: 3;
  width: 100%;
}

.previewImage {
  flex: 70;
  order: 4;
  overflow: hidden;
  width: 80%;
}

@media screen and (min-height: 300px) {
  .previewImage {
    max-width: 400px;
    max-height: 250px;
  }
}

@media screen and (min-height: 700px) {
  .previewImage {
    max-width: 720px;
    max-height: 480px;
  }
}

@media screen and (min-height: 1200px) {
  .previewImage {
    max-width: 1024px;
    max-height: 768px;
  }
}

.descriptionContainer {
  flex: 15;
  order: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.description {
  word-spacing: normal;
  word-break: normal;
  overflow-wrap: normal;
  hyphens: auto;
  text-align: center;
  width: 100%;
  margin-right: 4%;
  margin-left: 4%;
}

.tags {
  flex: 10;
  order: 8;
}

.links {
  flex: 10;
  order: 7;
}

.postButton {
  margin: 4px;
}

.containerFitImage {
  object-fit: cover;
  cursor: pointer;
  width: 100%;
  height: 100%;
  max-height: 100%;
  transition: all 0.3s;
}

.previewImage:hover .containerFitImage,
.previewImage:focus .containerFitImage {
  transform: scale(1.05);
}

.paginationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
