.basicButton {
  height: 45px;
  border-width: 2px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 9pt;
  font-weight: bold;
  letter-spacing: 0.06em;
  border-style: solid;
  display: inline-block;
  cursor: pointer;
  background-color: var(--b1);
  border-color: var(--s7);
  color: var(--f1);

  -moz-transition: border-color 0.2s ease-in-out, color 0.2s;
  -o-transition: border-color 0.2s ease-in-out, color 0.2s;
  -webkit-transition: border-color 0.2s ease-in-out, color 0.2s;
  transition: border-color 0.2s ease-in-out, color 0.2s;
}

@media (hover: hover) {
  .basicButton:hover:enabled {
    border-color: var(--s5);
    color: var(--s5);
  }
}

.basicButton:active:enabled {
  border-color: var(--s6);
  color: var(--s6);
}

.basicButton:disabled {
  opacity: 0.2;
  cursor: not-allowed;
}

.basicButton:focus {
  outline: 0;
}
