.footer {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: var(--b2);
}

.copyrightContainer {
  color: var(--s2);
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background-color: transparent;
}

.copyright {
  font-size: small;
  font-style: normal;
  opacity: 0.5;
}
