.headerButton {
  height: 70px;
  width: 140px;
  padding: 5px;
  font-weight: bolder;
  font-size: 12pt;
  display: inline-block;
  border-style: none;
  border-width: 0px;
  background-color: transparent;
  cursor: pointer;
  color: var(--s1);
}
.headerButtonSelected {
  color: var(--f1);
  background-color: var(--b1);
}

@media (hover: hover) {
  .headerButton:hover {
    background-color: var(--s4);

    -moz-transition: background-color 0.2s ease-in-out, color 0.2s;
    -o-transition: background-color 0.2s ease-in-out, color 0.2s;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s;
    transition: background-color 0.2s ease-in-out, color 0.2s;
  }
}
@media (hover: hover) {
  .headerButtonSelected:hover {
    background-color: var(--b1);
    color: var(--f1);
  }
}

.headerButton:active {
  color: var(--s2);
}

.headerButton:disabled {
  color: gray;
  cursor: not-allowed;
}

.headerButton.focus,
.headerButton:focus {
  outline: 0;
  box-shadow: none !important;
}
