@media screen and (min-width: 950px) {
  .header {
    display: flex;
    clear: both;
    align-items: center;
    justify-content: space-between;
    background-color: teal;
    height: 60px;
    width: 100%;
  }
}

@media screen and (min-width: 0px) and (max-width: 949px) {
  .header {
    display: none !important;
  }
}

.leftContent {
  background-color: firebrick;
  height: 100%;
  display: flex;
}

.rightContent {
  justify-content: right;
}
