@media screen and (min-width: 950px) {
  .header {
    display: block;
    background-color: teal;
    height: 60px;
  }
}

@media screen and (min-width: 0px) and (max-width: 949px) {
  .header {
    display: none !important;
  }
}
