.container {
  display: grid;
  padding: 5px;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  grid-auto-rows: 125px;
  grid-auto-flow: dense;
}

.portrait {
  overflow: hidden;
  grid-row: span 2;
}

.landscape {
  overflow: hidden;
  grid-column: span 2;
}

.containerFitImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}

.portrait:hover .containerFitImage,
.portrait:focus .containerFitImage,
.landscape:hover .containerFitImage,
.landscape:focus .containerFitImage {
  transform: scale(1.15);
}
