.standardButton {
  border-width: 4px;
  padding: 5px;
  font-weight: bold;
  letter-spacing: 0.06em;
  border-style: solid;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  border-color: white;
  color: white;

  -moz-transition: border-color 0.2s ease-in-out, color 0.2s;
  -o-transition: border-color 0.2s ease-in-out, color 0.2s;
  -webkit-transition: border-color 0.2s ease-in-out, color 0.2s;
  transition: border-color 0.2s ease-in-out, color 0.2s;
}

.standardButton:hover {
  border-color: lightseagreen;
  color: lightseagreen;
}

.standardButton:disabled {
  border-color: gray;
  color: gray;
  cursor: not-allowed;
}
