.transparentButton {
  padding: 5px;
  font-weight: bold;
  letter-spacing: 0.06em;
  display: inline-block;
  border-style: none;
  border-width: 0px;
  background-color: transparent;
  cursor: pointer;
  color: var(--f1);
}

.alt {
  color: var(--s1);
}

@media (hover: hover) {
  .transparentButton:hover {
    color: var(--s5) !important;

    -moz-transition: border-color 0.2s ease-in-out, color 0.2s;
    -o-transition: border-color 0.2s ease-in-out, color 0.2s;
    -webkit-transition: border-color 0.2s ease-in-out, color 0.2s;
    transition: border-color 0.2s ease-in-out, color 0.2s;
  }
}

.transparentButton:active {
  color: var(--s6) !important;

  -moz-transition: border-color 0.2s ease-in-out, color 0.2s;
  -o-transition: border-color 0.2s ease-in-out, color 0.2s;
  -webkit-transition: border-color 0.2s ease-in-out, color 0.2s;
  transition: border-color 0.2s ease-in-out, color 0.2s;
}

.transparentButton:disabled {
  color: var(--s8) !important;
  cursor: default;
}

.transparentButton:focus {
  outline: 0;
}
