.container {
  display: grid;
  padding: 5px;
  grid-gap: 5px;
  grid-template-columns: 1fr;
  grid-auto-rows: 500px;
  grid-auto-flow: dense;
}

@media screen and (min-height: 850px) {
  .container {
    grid-auto-rows: 750px;
  }
}

.item {
  grid-row: span 1;
  grid-column: span 1;

  justify-items: center;
  align-items: center;

  display: grid;
  padding: 5px;
  grid-gap: 5px;
  grid-template-columns: 1fr;
  grid-auto-rows: 10fr 80fr 10fr;
  border-bottom: 2px solid var(--s8);
}
/* Remove border bottom from last item & from second last if its odd */
.item:last-child,
.item:nth-last-child(2):nth-child(odd) {
  border-bottom: none;
}

.title {
  grid-row: 1;
}

.video {
  grid-row: 2;
  height: 100%;
  width: 100%;
}

.text {
  grid-row: 3;
}

.containerFitImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-height: 100%;
}
