.container {
  display: grid;
  padding: 5px;
  grid-gap: 5px;
  grid-template-columns: 1fr;
  grid-auto-rows: 500px;
  grid-auto-flow: dense;
}

@media screen and (min-height: 975px) {
  .container {
    grid-auto-rows: 800px;
  }
}

.item {
  grid-row: span 1;
  grid-column: span 1;

  display: grid;
  padding: 5px;
  grid-gap: 5px;
  grid-template-columns: 1fr;
  grid-auto-rows: 10fr 80fr 10fr;
}

.title {
  grid-row: 1;
}

.video {
  grid-row: 2;
}

.text {
  grid-row: 3;
}

.containerFitImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-height: 100%;
}
